In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'D:\UTS\Coursework\Semester 1\Data Visualisation and Narrative\AT3\Data\Cleaning\mapped.csv')
data.head(100)

C:\Users\PROTIK\AppData\Local\Temp/ipykernel_17716/2537707718.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'D:\UTS\Coursework\Semester 1\Data Visualisation and Narrative\AT3\Data\Cleaning\mapped.csv')

,Unnamed: 0,X,datetime,rfid,serial,bin_type,schedule,weight,truck,zone,...,filename,year,month,file_begin,file_end,bin_size,garbage_type,street_new,latitude,longitude
0,1,0,2015-11-16 06:13:00,158682174,106740.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
1,2,1,2015-11-16 06:13:00,159747595,119412.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
2,3,2,2015-11-16 06:13:00,159751218,120617.0,g-0140,fortnightly a monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
3,4,3,2015-11-16 06:14:00,159751286,106739.0,g-0140,every monday,47.2,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
4,5,4,2015-11-16 06:14:00,172095179,21686.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,129,2015-11-16 06:37:00,167718697,130596.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
96,97,130,2015-11-16 06:38:00,159780279,257373.0,r-0240,fortnightly b monday,14.6,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
97,98,132,2015-11-16 06:38:00,176266864,21561.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884
98,99,133,2015-11-16 06:38:00,159777145,257371.0,r-0240,fortnightly b monday,4.9,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
99,100,134,2015-11-16 06:38:00,159734401,119415.0,g-0140,every monday,3.7,au32gy,13.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,140,garbage,bruce street,-33.924224,151.224884

In [3]:
gdata = data[data.garbage_type == 'recycle']

In [4]:
gdata.head(100)

,Unnamed: 0,X,datetime,rfid,serial,bin_type,schedule,weight,truck,zone,...,filename,year,month,file_begin,file_end,bin_size,garbage_type,street_new,latitude,longitude
84,85,116,2015-11-16 06:36:00,155708927,268777.0,r-0240,fortnightly b monday,2.1,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,rainbow street,-33.926142,151.243130
86,87,118,2015-11-16 06:36:00,159759660,257226.0,r-0240,fortnightly b monday,7.6,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
87,88,120,2015-11-16 06:36:00,176274888,257625.0,r-0240,fortnightly b monday,6.6,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
94,95,128,2015-11-16 06:37:00,159780345,257349.0,r-0240,fortnightly b monday,3.2,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
96,97,130,2015-11-16 06:38:00,159780279,257373.0,r-0240,fortnightly b monday,14.6,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,forsyth street,-33.922531,151.229831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,264,430,2015-11-16 07:04:00,159779109,256264.0,r-0240,fortnightly b monday,6.8,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,middle street,-33.921646,151.232891
264,265,433,2015-11-16 07:04:00,159777703,256265.0,r-0240,fortnightly b monday,3.7,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,middle street,-33.921646,151.232891
266,267,437,2015-11-16 07:04:00,159765385,257659.0,r-0240,fortnightly b monday,4.0,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,harbourne road,-33.921897,151.228338
268,269,440,2015-11-16 07:05:00,161105717,255664.0,r-0240,fortnightly b monday,9.2,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,harbourne road,-33.921897,151.228338
269,270,442,2015-11-16 07:05:00,159783157,256973.0,r-0240,fortnightly b monday,14.6,at43we,21.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,harbourne road,-33.921897,151.228338

In [5]:
gdata.shape

(144847, 26)

In [6]:
ggdata = gdata.groupby(by = "street_new")["weight"].mean()

In [7]:
ggdata.to_csv('recycleAverage.csv')

In [8]:
gdata = gdata.sort_values(by = "street_new", axis = 0)
gdata.head()

,Unnamed: 0,X,datetime,rfid,serial,bin_type,schedule,weight,truck,zone,...,filename,year,month,file_begin,file_end,bin_size,garbage_type,street_new,latitude,longitude
6735,6736,14365,2015-11-20 06:04:00,161110532,258284.0,r-0240,fortnightly b friday,3.7,au32gy,1.0,...,15 to 30 nov 2015.csv,2015,11,2015-11-15,2015-11-30,240,recycle,abbe receveur place,-33.983714,151.236292
35308,35309,65424,2014-11-21 06:37:00,161222135,258322.0,r-0240,fortnightly b friday,6.5,au32gy,1.0,...,15 to 30 nov 2014.csv,2014,11,2014-11-15,2014-11-30,240,recycle,abbe receveur place,-33.983714,151.236292
35231,35232,65311,2014-11-21 06:31:00,158669399,265411.0,r-0240,fortnightly b friday,33.7,au32gy,1.0,...,15 to 30 nov 2014.csv,2014,11,2014-11-15,2014-11-30,240,recycle,abbe receveur place,-33.983714,151.236292
35232,35233,65314,2014-11-21 06:32:00,155708388,265641.0,r-0240,fortnightly b friday,3.1,au32gy,1.0,...,15 to 30 nov 2014.csv,2014,11,2014-11-15,2014-11-30,240,recycle,abbe receveur place,-33.983714,151.236292
35239,35240,65327,2014-11-21 06:32:00,159782774,261538.0,r-0240,fortnightly b friday,17.4,au32gy,1.0,...,15 to 30 nov 2014.csv,2014,11,2014-11-15,2014-11-30,240,recycle,abbe receveur place,-33.983714,151.236292

In [9]:
locdf = gdata[['street_new', 'latitude', 'longitude']]

In [10]:
locdf.head()

                street_new   latitude   longitude
6735   abbe receveur place -33.983714  151.236292
35308  abbe receveur place -33.983714  151.236292
35231  abbe receveur place -33.983714  151.236292
35232  abbe receveur place -33.983714  151.236292
35239  abbe receveur place -33.983714  151.236292

In [18]:
locdf = locdf.drop_duplicates()

In [19]:
locdf.shape

(710, 3)

In [20]:
ggdata.shape

(710,)

In [21]:
recycleAvg = pd.merge(ggdata,locdf, on = "street_new")

In [22]:
recycleAvg

              street_new     weight   latitude   longitude
0    abbe receveur place  10.365625 -33.983714  151.236292
1           abbey street  14.386667 -33.911889  151.240019
2       abbotford street  14.188321 -33.904562  151.224943
3          abbott street  10.856341 -33.916224  151.252204
4           aboud avenue  11.937500 -33.922635  151.218126
..                   ...        ...        ...         ...
705           yarra road  23.343275 -33.979821  151.233850
706           york place  15.156757 -33.907178  151.217828
707      yorktown parade  13.164386 -33.947554  151.247302
708         young street  12.041176 -33.922300  151.237356
709         zions avenue  12.545536 -33.970636  151.251869

[710 rows x 4 columns]

In [23]:
recycleAvg.to_csv("recycleAvg.csv")